<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>This is me</title>
</head>
<body>
    <h1>This is me</h1>
    <a href="/">back</a>
    <div id="text">
        <p>
            I was born on May 12, 1956 and I'm the main protagonist of The Simpsons show. I'm the spouse of Marge Simpson and father of Bart, Lisa and Maggie Simpson. Sadly I'm overweight (said to be ~240 pounds), lazy, and often ignorant to the world around me. Although I have many flaws, I've shown to have great caring, love, and even bravery to those I cares about and, sometimes, even others I doesn't. I also serves as the main protagonist of the The Simpsons Movie.
        </p>
        <p>
            My favorite color is blue and I enjoy dancing, eating donuts, drinking, hugging, driving a sit-down arcade racer, playing the piano and horse riding. My favorite kiddie rides are "Stuart Little", "Barney Train" and "Ride the Champion Mechanical Horse".
        </p>
    </div>
    <img src="/img/homerAbout.gif" alt="homer">
</body>
</html>