<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>Galery</title>
</head>
<body>
    <h1>Look at me</h1>
    <a href="/">back</a>

    <div class="container">
        <main class="gallery">
          <figure>
            <img src="/img/1.jpeg" alt="1">
          </figure>
           <figure>
            <img src="/img/2.jpeg" alt="2" />
          </figure>
           <figure>
            <img src="/img/3.jpeg" alt="3" />
          </figure>
          <figure>
            <img src="/img/4.jpeg" alt="4" />
          </figure>
          <figure>
            <img src="/img/5.jpeg" alt="5" />
          </figure>
          <figure>
            <img src="/img/6.jpeg" alt="6" />
          </figure>
          <figure>
            <img src="/img/7.jpeg" alt="7">
          </figure>
           <figure>
            <img src="/img/8.jpeg" alt="8" />
          </figure>
           <figure>
            <img src="/img/9.jpeg" alt="9" />
          </figure>
          <figure>
            <img src="/img/10.jpeg" alt="10" />
          </figure>
          <figure>
            <img src="/img/11.jpeg" alt="11" />
          </figure>
          <figure>
            <img src="/img/12.jpeg" alt="12" />
          </figure>
        </main>
      </div>
</body>
</html>