<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <title>Homers web</title>
</head>
<body>
    <h1>Homer's web page</h1>
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/galery">Photos</a>
    <div>
        <img src="/img/boca.gif" alt="boca">
        <img src="/img/campana.gif" alt="campana">
        <img src="/img/gusano.gif" alt="gusano">
        <img src="/img/reloj.gif" alt="reloj">
        <img src="/img/tostadora.gif" alt="tostadora">
    </div>
</body>
</html>